/// Fonts Settings
$base-font-family: 'Quicksand', Arial, sans-serif;
$base-font-weight-regular: 400;
$base-font-weight-bold: 700;
$base-font-size: 14px;
$base-line-height: 1;
$base-border-radius: 5px;

/// Color Settings
$color-base: #000;
$color-primary: #5883ff;
$color-text: #000;
$color-title: #000;
$color-border: #f1eef2;
$color-cursor-selection: #fff;

/// Background Settings
$background-base: #fff;
$background-section: #f7f9fd;
$background-cursor-selection: #000;
