/// Variables
@import './config/variables';

/// Mixin
@import './config/mixin';

/// Helpers
@import './helpers';

/// Components
@import './components';

/// Pages
@import './pages';

.box {
  position: relative;
  margin: 30px;
  padding: 30px;
  background-color: $background-section;
}
